:root {
    --primary-color: #003087;
    --secondary-color: #b1b2b2;
    --white: #fff;
    --black: #212121;
    --primary-70: rgba(0, 48, 135, 0.7);
    --secondary-70: rgba(177, 178, 178, 0.7);
    --background: rgba(177, 178, 178, 0.10);
}

body {
    background-color: var(--background);
    font-family: Times New Roman, Arial, serif;
    font-weight: normal;
    color: var(--black);
}

p {
    font-size: 1.3rem;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0;
    width: 70%;
}

@media screen and (min-width: 1440px) {
    main {
        width: 33.33%;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1439px) {
    main {
        width: 50%;
    }
}

@media screen and (max-width: 1079px) {
    main {
        width: 70%;
    }
}

@media screen and (max-width: 720px) {
    main {
        width: 90%;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}
header p {
    text-align: justify;
    margin-bottom: 0;
}

/* Generic Button */
.button, button, a.button {
    color: var(--white);
    border: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: Times New Roman, Arial, serif;
    font-weight: normal;
    font-size: 1rem;
    margin-top: 1rem;
}

/* Primary Button */
.button.button-primary, button {
    background-color: var(--primary-70);
}

.button.button-primary:hover, button:hover {
    background-color: var(--primary-color);
}

/* Primary Button inverted */
.button.button-primary-inverted {
    background-color: var(--primary-color);
}

.button.button-primary-inverted:hover {
    background-color: var(--primary-70);
}

/* Secondary Button */
.button.button-secondary {
    background-color: var(--secondary-70);
}

.button.button-secondary:hover {
    background-color: var(--secondary-color);
}

/* Input Text */
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    transition: border-color 0.4s ease;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

/* Dropdown */
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    appearance: none;
    background-color: #ffffff;
    transition: border-color 0.4s ease;
}

select:focus {
    border-color: var(--primary-color);
    outline: none;
}

.flash-error, .flash-info, .flash-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    animation: fadeOut 10s forwards;
    display: flex;
    justify-content: center;
}

.flash-error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash-info {
    background-color: #cce5ff;
    color: #004085;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#answer_hobbies {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 10px;
    align-items: center;
}

#answer_hobbies label {
    display: block;
}

#answer_submit {
    margin-top: 1rem;
}

.help-text {
    font-size: 0.8rem;
    color: var(--secondary-color);
}
