#wheel {
    width: 115%;
    position: relative;
    padding-bottom: 1rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    display: none;
}

#overlay::after {
    content: "";
    position: absolute;
    top: 48%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    margin: -25px 0 0 -25px;
    border: 4px solid transparent;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.gew-instance svg .text-label.odd p {
    color: var(--black);
}

.gew-instance svg .text-label.even p {
    color: var(--black);
}
.gew-instance svg > g > a {
    fill: var(--black);
    cursor: pointer;
    transition: fill 0.3s ease;
}
.gew-instance svg > g > a:hover {
    fill: var(--primary-color);
}

.guide p {
    margin: 0;
}

.gew-instance svg .line > a > circle {
    fill: rgba(177,178,178,0);
    stroke: rgb(0,0,0);
}
.gew-instance svg .line > a.active > circle {
    fill: rgb(0, 0, 0);
    stroke: rgb(0,0,0);
}
