{% extends 'base.html.twig' %}

{% block content %}
    <p>
        Paldies par veltīto laiku un ieguldījumu pētījumā!
    </p>
    <p>
        Jūsu testa bioloģiskās kustības figūras emocija bija "{{ walkerEmotion }}".
        <br>
        Jūs atpazināt, ka figūra attēlo emociju "{{ guessedEmotion }}" {{ score / 1000 }} sekundēs.
    </p>
{% endblock %}
