{% extends 'base.html.twig' %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap(['wheel', 'app']) }}
    {% endblock %}
    <script>
        const wheelEmotions = {{ wheelEmotions|json_encode|raw }};
    </script>
{% endblock %}

{% block content %}
    <div class="guide">
        <p>
            Lūdzu, atzīmējiet 3 emocijas un to intensitāti, kuras vislabāk raksturo to, kā Jūs šobrīd jūtaties.
            Emociju intensitāti apzīmē apļa lielums, jo lielaks aplis, jo intensīvākas emocijas.
        </p>
        <p>
            Ja Jūs neizjūtat nekādas emocijas, lūdzu, atzīmējiet "Nav emociju".
        </p>
        <p>
            Ja esat piedzīvojis emocijas, kas ļoti atšķiras no jebkuras piedāvātās, lūdzu, atzīmējiet "Cits".
        </p>
    </div>
    <div id="wheel"></div>
    <form id="wheel-form" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('save-emotion') }}">
        <input type="hidden" name="emotion" value="[]">
        <input type="hidden" name="custom-emotion" value="">
        <button type="submit" class="button button-primary">Saglabāt</button>
    </form>
{% endblock %}
