{% extends 'base.html.twig' %}

{% block importmap %}
    {{ importmap(['wheel', 'app']) }}
{% endblock %}

{% block content %}
    <p>(ALTERNATIVE 1 – PARTICIPANT CHOOSES ONE EMOTION ONLY)

        Please rate the intensity of the emotion in the wheel which best describes what you felt. If you did not feel any emotion at all, please check the upper half circle in the center of the wheel (labeled "None"). If you experienced an emotion that is very different from any of the emotions in the wheel, please check the lower half circle (labeled "Other").
    </p>
    <div id="wheel"></div>
    <form id="wheel-form" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('save-emotion') }}">
        <input type="hidden" name="emotion" value="">
        <input type="hidden" name="intensity" value="">
        <input type="hidden" name="custom-emotion" value="">
        <button type="submit" class="button button-primary">Saglabāt</button>
    </form>
{% endblock %}
