{% extends 'base.html.twig' %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div>another</div>
    <p>
        Šeit uztaisīt melnu ekrānu ar to, kā izskatīsies tests, varbūt te vajadzētu gifu?
        Kkko mazu, lai man nav jāmaksā miljoni par šo lapu.
        poga lai sāktu test
        Šeit būtu jāuztaisa mini aplikācija kurā tad arī notiek viss action. Tas varētu būt TS.
        Bet var arī vienkārši JS, vienalga.
        Galvenā doma, ka notiek datu ievākšana. Bet vajadzētu dabūt norm to visu
    </p>
{% endblock %}
