<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maģistra darbs</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="Lauris">
    {% block style %}
        <style>
            main {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
            }
        </style>
    {% endblock %}
</head>

<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
