{% extends 'base.html.twig' %}

{% block content %}
    <header>
        <h1>Bioloģiskās kustības emociju atpazīšanas sliekšņa noteikšanas tests</h1>
        <p>Sveiki!</p>
        <p>Esmu LU Datorzinātņu maģistra programmas students Lauris Štekels. Šobrīd izstrādāju savu maģistra darbu "Eksperimentāla rīka izveide bioloģiskās kustības emociju uztverei".</p>
        <p>Ļoti novērtēšu Jūsu ieguldījumu datu ievākšanā. Testa izpilde aizņem mazāk par 1 minūti. Tālāk, lūdzu, sekojiet instrukcijām.</p>
        <p>Ja ir kādi jautājumi, droši rakstiet uz lauris@stekels.lv.</p>
        <p>
            Paldies!
        </p>
        {% if test %}
            <a href="{{ path('demographic') }}" class="button button-primary">Sākt</a>
        {% endif %}
    </header>
{% endblock %}
