{% extends 'base.html.twig' %}

{% block content %}
    <header>
        <h1>Bioloģiskās kustības emociju atpazīšanas</h1>
        <h2>Sliekšņa noteikšanas tests</h2>
        <p>
            Mini apraksts par to, kas es esmu un ko vēlos panākt ar savu testu.
            Pēc tam aprakstīta testa norises gaita un lielos vilcienos apstāstīts, kas būs redzams.
            Informācija par to, ka tests ir anonīms un nekāda personīga informācija netiek ievākta.
        </p>
        <a href="{{ path('demografija') }}" class="button button-primary">Sākt</a>
    </header>
{% endblock %}
