{% extends 'base.html.twig' %}

{% block content %}
    <header>
        <h1>Maģistra darbs</h1>
        <p>Šeit būs pieejams rīks cilvēka bioloģiskās kustības testēšanai.</p>
        <p>Jāievieto apraksts par to, kas te notiks utt.</p>
        <a href="{{ path('test_start') }}">Sākt</a>
    </header>
{% endblock %}
