{% extends 'base.html.twig' %}

{% block content %}
    <header>
        <h1>Bioloģiskās kustības emociju atpazīšanas sliekšņa noteikšanas tests</h1>
        <p>
            Sveiki
            Es LU Datorzinātņu maģistra programmas students Lauris Štekels. Šobrīd izstrādāju savu maģistra darbu "NOSAUKUMS".
            Ļoti novērtēšu Jūsu ieguldījumu datu ievākšanā. Testa izpilde aizņem mazāk nekā 1 minūti, lūdzu, sekojiet instrukcijām.
            Ja ir kādi jautājumi, droši rakstiet uz lauris@stekels.lv

            Paldies!
        </p>
        <a href="{{ path('demographic') }}" class="button button-primary">Sākt</a>
    </header>
{% endblock %}
