{% extends 'base.html.twig' %}

{% block importmap %}
    {{ importmap(['wheel', 'app']) }}
{% endblock %}

{% block content %}
    <div id="wheel"></div>
    <a class="button button-primary">SaglabÄt</a>
    <div id="overlay"></div>
{% endblock %}
