{% extends 'base.html.twig' %}

{% block importmap %}
    {{ importmap(['wheel', 'app']) }}
{% endblock %}

{% block content %}
    <div id="wheel"></div>
    <a class="button button-primary">SaglabÄt</a>
    <svg id="hiding-button" style="display: none" width="120" height="60">
        <rect id="svg-button" width="80" height="30" rx="15" ry="15" fill="var(--primary-color)"/>
        <text x="30%" y="30%" dominant-baseline="middle" text-anchor="middle" fill="var(--white)">Click me</text>
    </svg>
    <div id="overlay"></div>
{% endblock %}
